@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    /* border: 1px solid; */
}

:root {
    --cta-color: #7f17c8;
    --accent-color: #44242400;
    --font-color: #000000;
}

nav {
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0.5rem 2rem;
}

.logo {
    min-width: 0%;
    width: 45%;
}

.logo-box {
    margin-top: 1rem;
}


.nav-pills {
    margin-left: 12px;
}

.nav-list-item {
    display: inline-flex;
    gap: 2rem;

}

.nav-list-item a {
    color: var(--font-color);
    font-size: 1.1rem;
}

a:hover {
    color: var(--cta-color);
}

.link-docs {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.1rem;
}