#simple-nav-header,
#submenu-nav-header {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.06);
    top: 0;
    bottom: 0;
    z-index: 30;
    position: sticky;
}

.simple-nav-bar,
.submenu-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-0-5) var(--size-2);
    background-color: var(--nav-bg);
}

.simple-nav-logo {
    max-width: 6rem;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.simple-nav ul li.nav-search-bar,
.submenu-nav ul li.nav-search-bar {
    width: 17rem;
}

.simple-nav-bar .simple-nav .fas,
.submenu-nav-bar .submenu-nav .fas {
    color: var(--font-color);
    font-size: 1.2rem;
}

.simple-nav-bar .simple-nav .fas:hover,
.submenu-nav-bar .submenu-nav .fas:hover {
    color: var(--cta-color);
}

.simple-nav-bar .simple-nav .fas.fa-user,
.submenu-nav-bar .submenu-nav .fas.fa-user {
    margin-right: 0.4rem;
}

.simple-nav .nav-search-bar,
.submeu-nav .nav-search-bar {
    height: var(--size-2);
    display: flex;
    background: var(--search-bg);
    border-radius: 0.2rem;
    margin: 0 var(--size-3);
    border: 1px solid var(--search-border);
}

.simple-nav .nav-search-bar input,
.submenu-nav .nav-search-bar input {
    height: 100%;
    width: 90%;
    border: none;
    border-radius: 0.2rem;
    padding: 0 var(--size-1);
    font-size: var(--size-1);
    outline: none;
}

.simple-nav .simple-nav-links .nav-search-bar .search-bar-icon,
.submenu-nav .submenu-nav-links .nav-search-bar .search-bar-icon {
    height: 100%;
    width: var(--size-2);
    text-align: center;
    line-height: var(--size-2);
    border-left: 1px solid var(--search-border);
}

.simple-nav .simple-nav-links .nav-search-bar .search-bar-icon span,
.submenu-nav .submenu-nav-links .nav-search-bar .search-bar-icon span {
    color: var(--gray-txt);
}

.simple-nav-bar .simple-nav .badge .badge-no,
.submenu-nav-bar .submenu-nav .badge .badge-no {
    background-color: var(--cta-color);
    min-width: var(--size-1);
    min-height: var(--size-1);
    height: 16px;
    width: 16px;
    left: 0.4rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid var(--white-bg);
}

.simple-nav-bar .simple-nav .simple-nav-links li .btn,
.submenu-nav-bar .submenu-nav .submenu-nav-links li .btn {
    margin: var(--size-0-5);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--font-color);
    transition: 0.4s ease;
}

.simple-nav-bar .simple-nav .simple-nav-links li,
.submenu-nav-bar .submenu-nav .submenu-nav-links li {
    position: relative;
}

.simple-nav-bar .simple-nav .simple-nav-links li .btn.active,
.submenu-nav-bar .submenu-nav .submenu-nav-links li .btn.active {
    color: var(--cta-color);
}

.simple-nav-bar .simple-nav .simple-nav-links li .btn:hover,
.submenu-nav-bar .submenu-nav .submenu-nav-links li .btn:hover {
    color: var(--cta-color);
}

.simple-nav-bar .simple-nav .simple-nav-links li .btn.active:hover,
.submenu-nav-bar .submenu-nav .submenu-nav-links li .btn.active:hover {
    color: var(--cta-color);
}

.simple-nav-bar .simple-nav .simple-nav-links li .btn.active::after,
.simple-nav-bar .simple-nav .simple-nav-links li .btn:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--cta-color);
    position: absolute;
    bottom: -4px;
    left: var(--size-0-5);
}

.submenu-nav .submenu-nav-links {
    justify-content: flex-end;
    margin: 0;
}

.submenu-nav {
    max-width: 50rem;
    min-width: 10rem;
    width: 40rem;
}

.submenu-nav-links li {
    display: block;
    position: relative;
}

.submenu-nav-links li li a {
    font-size: 80%;
    text-decoration: none;
}

.submenu-nav-links ul {
    display: none;
    position: absolute;
    padding: 0;
    left: 0.5rem;
}

.submenu-nav-links li:hover ul ul {
    display: none;
}

.submenu-nav-links li:hover ul {
    display: block;
    background-color: var(--secondary-color);
    width: 80%;
    text-align: center;
    padding: 0.3rem;
    border: 1px solid var(--gray-txt);
}

.submenu-nav-links li:hover ul li a {
    color: var(--font-color);
}

.hamburger-menu {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.component-example-nav {
    margin-top: var(--size-1-5);
    margin-bottom: var(--size-1-5);
    border: 2px solid var(--grey-border);
    padding: var(--size-1);
    border-radius: 5px;
}

.close-hamburger-btn {
    display: none;
    position: static;
    background: transparent;
    border: none;
    font-size: var(--size-2);
}

/* Media Query */

@media (max-width: 1250px) {

    .simple-nav-links.display-flex,
    .submenu-nav-links.display-flex {
        flex-direction: column;
        gap: 0.3rem;
    }

    #simple-nav-header,
    #submenu-nav-header {
        width: 90%;
        padding: var(--size-1);
    }

    .simple-nav-logo {
        width: 6rem;
    }

    .simple-nav-bar,
    .submenu-nav-bar {
        font-size: var(--size-0-5);
    }

    .submenu-nav-links {
        margin-left: auto;
    }

    .simple-nav ul li.nav-search-bar {
        width: fit-content;
        height: var(--size-1);
    }

    .simple-nav .simple-nav-links .nav-search-bar .search-bar-icon {
        width: var(--size-1);
        line-height: 1.5;
        font-size: var(--size-0-5);
    }

    .simple-nav ul li.nav-search-bar input {
        display: none;
    }

    #simple-nav-header .simple-nav-bar .badge .badge-no,
    #submenu-nav-header .submenu-nav-bar .badge .badge-no {
        width: 0.7rem;
        height: 0.7rem;
        max-width: 0.7rem;
        max-height: 0.7rem;
        font-size: var(--size-0-5);
        min-width: 0;
        min-height: 0;
        left: 0.2rem;
    }

    .simple-nav-bar .simple-nav .fas,
    .submenu-nav-bar .submenu-nav .fas {
        font-size: var(--size-0-5);
    }

    .simple-nav.hamburger-nav {
        position: fixed;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        transition: 0.3s;
    }

    .simple-nav.hamburger-nav.nav-active {
        display: flex;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--secondary-color);
        align-items: center;
        font-size: var(--size-2);
    }

    .hamburger-nav-item {
        margin: 2.5rem 0;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .close-hamburger-btn.close-ham-active {
        position: fixed;
        top: 0;
        right: 2rem;
        bottom: 12;
        display: flex;
        z-index: 50;
        align-self: center;
        margin-top: var(--size-2);
    }
}