.ratings-container {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
}

.stars-container {
    padding: var(--size-1);
    display: flex;
    flex-direction: row-reverse;
    gap: var(--size-0-5);
    font-size: var(--size-1-5);
}

.stars-container input {
    display: none;
}

.stars-container label {
    cursor: pointer;
    color: var(--gray-txt);
}

.stars-container input:checked~label {
    color: var(--star-color);  
}

.stars-container input:checked~label:hover {
    color: var(--gray-txt); 
}

.stars-container input:not(:checked)~label:hover, .stars-container input:not(:checked)~label:hover~label {
    color: var(--star-color);
}
