.ul-no-decor {
    list-style: none;
}

.disp-inline-flex {
    display: inline-flex;
}

.link-no-decor {
    text-decoration: none;
}

.link-no-decor :hover {
    color: black;
}

.primary-color {
    color: var(--cta-color);
}

.txt-small {
    font-size: var(--size-1);
}

.txt-normal {
    font-size: 1.3rem;
}

.txt-medium {
    font-size: var(--size-1-5);
}

.txt-large {
    font-size: var(--size-2-5);
}

.m-1 {
    margin: var(--size-1) 0;
}

.m-2 {
    margin: var(--size-2) 0;
}