@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;800;900&display=swap');
@import './css/utility.css';

@import './css/alert.css';
@import './css/avatar.css';
@import './css/badge.css';
@import './css/button.css';
@import './css/card.css';
@import './css/grid.css';
@import './css/image.css';
@import './css/input.css';
@import './css/lists.css';
@import './css/modal.css';
@import './css/navigation.css';
@import './css/rating.css';
@import './css/slider.css';
@import './css/text-utilities.css';
@import './css/toast.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

body {
    scroll-behavior: smooth;
}

:root {
    --cta-color: #7e17c8;
    --secondary-color: #d8b9ee;
    --secondary-light: #f8f0ff;
    --accent-color: #44242400;
    --font-color: #000000;
    --grey-border: #999999;
    --grey-bg: #ececec;
    --error-color: #ed7d7d;
    --success-color: #88ed7d;
    --warning-color: #edb47d;
    --disc-green: #1cc925e5;
    --white-bg: #ffffffff;
    --overlay-bg: rgba(251, 251, 255, 0.664);
    --card-bg: #fbf5ffe5;
    --gray-txt: #616060;
    --light-grey: #5e6d70;
    --list-bg: #fdebff;
    --star-color: #ffdd1c;
    --footer-color: #403747;
    --modal-bg: rgba(0, 0, 0, 0.6);
    --search-bg: #f2f2f2;
    --search-border: #949292;
    --nav-bg: #F5E5F2;
    /* Variables for length */
    --size-0-5: 0.5rem;
    --size-0-75: 0.75rem;
    --size-1: 1rem;
    --size-1-5: 1.5rem;
    --size-2: 2rem;
    --size-2-5: 2.5rem;
    --size-3: 3rem;
    --size-3-5: 3.5rem;
    --size-4: 4rem;
    --size-4-5: 4.5rem;
    --size-5: 5rem;
    --size-5-5: 5.5rem;
    --size-6: 6rem;
    --size-6-5: 6.5rem;
    --size-7: 7rem;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cta-color);
}