<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/nav-common.css">
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/image.css">
    <title>Image</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-main">

            <div class="logo-box">
                <a href="/index.html"><img src="/assets/HalcyonLogo.svg" alt="logo" class="logo"></a>
            </div>

            <div class="nav-list-item">
                <ul class="ul-no-decor">
                    <li class="documentation disp-inline-flex"><a href="#" class="link-docs">Documentation</li></a>
                </ul>

                <div class="link-social">
                    <a href="https://github.com/bhavyaj12" target="_blank" class="nav-pills"><i
                            class="fab fa-github "></i></a>
                    <a href="https://twitter.com/bhavzlearn" target="_blank" class="nav-pills"><i
                            class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/bhavya-joshi-438178184" target="_blank" class="nav-pills"><i
                            class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar-side">
        <div class="mainheading-navside">
            Components
        </div>
        <div class="subheading-navside">
            <a class="link-no-decor" href="/pages/components/alert.html">Alert</a>
            <a class="link-no-decor" href="/pages/components/avatar.html">Avatar</a>
            <a class="link-no-decor" href="/pages/components/badge.html">Badge</a>
            <a class="link-no-decor" href="/pages/components/button.html">Button</a>
            <a class="link-no-decor" href="/pages/components/card.html">Card</a>
            <a class="link-no-decor active" href="/pages/components/image.html">Image</a>
            <a class="link-no-decor" href="/pages/components/input.html">Input</a>
            <a class="link-no-decor" href="/pages/components/lists.html">Lists</a>
            <a class="link-no-decor" href="/pages/components/modal.html">Modal</a>
            <a class="link-no-decor" href="/pages/components/navigation.html">Navigation</a>  
            <a class="link-no-decor" href="/pages/components/rating.html">Rating</a>          
            <a class="link-no-decor" href="/pages/components/simplified-grid.html">Simplified Grid</a>
            <a class="link-no-decor" href="/pages/components/text-utilities.html">Text Utilities</a>          
            <a class="link-no-decor" href="/pages/components/toast.html">Toast</a>
        </div>
    </nav>

    <main class="component-disp">
        <h1 class="header-component txt-large">Image</h1>
        <p class="intro-comp txt-component txt-medium">Images are a very critical part of websites and should be
            responsive.
        </p>
        <h3 class="subheader-component txt-medium">Responsive Image</h3>
        <p class="txt-component txt-normal">In order to make an image responsive simply add the class <span
                class="primary-color">img-responsive</span> which will make the image occupy 100% width of the parent
            container. If the screen size reduces, the image size will also reduce without affecting the aspect ratio.

            <div class="component-example">
                <img src="/assets/Responsive Image.jpg" class="img-responsive"
                    alt="Stars in the night sky responsive image" />
            </div>

            <p class="txt-component txt-normal">You can paste the below code to use responsive images in your site.</p>

            <div class="code-display">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28236%2C236%2C236%2C1%29&t=one-light&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520class%253D%2522img-responsive%2522%2520alt%253D%2522...%2522%2520%252F%253E"
                    style="width: 572px; height: 205px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h3 class="subheader-component txt-medium">Round Image</h3>
            <p class="txt-component txt-normal">In order to use a round image simply add the class <span
                    class="primary-color">img-round</span>.

                <div class="component-example">
                    <img src="/assets/Round Image.jpg" class="img-round" alt="Puppy eyes" />
                </div>

                <p class="txt-component txt-normal">You can paste the below code to use round images in your site. If
                    needed the size of the round image can be changed from the css codeby changing max-width and
                    max-height.
                </p>

                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28236%2C236%2C236%2C1%29&t=one-light&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520class%253D%2522img-round%2522%250Aalt%253D%2522...%2522%2520%252F%253E"
                        style="width: 420px; height: 223px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <footer class="footer-components">
                    <a href="/pages/components/card.html" class="btn-footer"><img src="/assets/arrow-left.svg"> Card
                    </a>
                    <a href="/pages/components/input.html" class="btn-footer"> Input <img src="/assets/arrow-right.svg">
                    </a>
                </footer>

    </main>

</body>

</html>